<h1>Coder Factory Job Board</h1>
<h4><strong>Find talented junior developers</strong></h4>

<% if user_signed_in? %>
  <% if current_user.student_profile %>
      <p class="lead">Welcome back <%= current_user.student_profile.student_name %></p>
  <% elsif current_user.company_profiles.any? %>
      <p class="lead">Welcome back <%= current_user.company_profiles.first.contact_name %>
  <% end %>
  <% if current_user.has_role? :company_rep and !current_user.company_profiles.any? %>
    <%= link_to 'Create your company profile', new_company_profile_path, class: 'btn btn-primary btn-sm' %>
  <% end %>
</p>
<% if current_user.has_role? :student %>
  <div class="row">
    <% @job_listings.each do |job| %>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4><%= job.title %>
            <p><small><%= job.company_profile.company_name %></small></p></h4>
            <p><%= job.job_description %></p>
            <%= link_to 'Apply', new_job_application_path(job_listing: job), class: 'btn btn-primary btn-sm' %>
        </div>
      </div>
    </div>
<% end %>
</div>
<% end %>
<h3> Find companies near you</h3>
<%= form_tag(search_company_profiles_path, method: :post) do %>
  <%= label_tag :location %>
  <%= text_field_tag :location %>
  <%= submit_tag "Search" %>
<% end %>
<% else %>
<%= link_to "<i class='fa fa-building'></i> List a job".html_safe, new_user_registration_path(user_type: 'company'), class: 'btn btn-primary btn-lg' %>

<%= link_to "<i class='fa fa-user'></i> Get a job".html_safe, new_user_registration_path(user_type: 'student'), class: 'btn btn-success btn-lg' %>
<% end %>
