<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">New Company Information</h2>
      </div>
      <div class="panel-body">

<%= simple_form_for(@company_profile) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name, label: 'Enter your first name' %>
    <%= f.input :last_name, placeholder: 'enter your last name' %>
    <%= f.input :phone %>
    <%= f.input :company_name %>
    <%= f.input :company_type, collection: ['New Startup 2yrs or less', 'Startup 3-5yrs', 'Agency', 'Small Business', 'Other'] %>
    <%= f.input :logo %>
    <%= f.input :description, input_html: { rows: 5} %>
    <%= f.input :company_culture %>
    <%= f.input :street %>
    <%= f.input :suburb %>
    <%= f.input :postcode %>
    <%= f.input :country, priority: ['Australia', 'United States'] %>


  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
</div>
</div>
</div>
</div>
<% end %>
